@import url('https://rsms.me/inter/inter.css');

html { 
    font-family: 'Inter', sans-serif; 
    color: #cecece;
}

body
{
    background: linear-gradient(-45deg, #a3b0e4, #3f3f3f);
	background-size: 100% 100%;
	animation: gradient 5s ease infinite;
	height: 100vh;
    margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

img {
    filter: grayscale(1);
    height: 32px; 
    transition: 0.5s;
    margin: 5px;
}

img:hover { 
    filter: grayscale(0);
    height: 40px;
    margin: 7px;
}

.donate {
    filter: grayscale(1);
    height: 32px;
    margin: 15px;
}

.donate:hover { filter: grayscale(0); }

.ds1 {
    cursor: pointer;
}

a { 
    color: #cecece;
    text-decoration: none;
    transition: 0.5s; 
}

a.cw:hover { 
    color: orange; 
    text-shadow: 0 0 2px;
}

