html {
    font-family: 'Consolas';
    font-weight: normal;
    font-style: normal;
    color: white;
}
body {
    background: linear-gradient(-45deg, #a3b0e4, #3f3f3f);
    background-size: 100% 100%;
    animation: gradient 5s ease infinite;
    height: 100vh;
    margin: 0;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.style {
    padding: 7px;
    color: white;
    border: 1px solid #a3b0e4;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.75s;
}

.style:hover {
    background-color: rgba(163, 176, 228, 0.7);
    border: 1px solid rgba(163, 176, 228, 0.7);
    transition: 0.75s;
    cursor: pointer;
}

.ahead {
    text-decoration: none;
    color: white;
    cursor: pointer
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.head {
    border: 1px solid #a3b0e4;
    border-radius: 7px;
    padding-top: 5px;
    height: 25px;
    transition: 0.75s;
}

.head:hover {
    background-color: rgba(163, 176, 228, 0.5);
    border: 1px solid rgba(163, 176, 228, 0.5);
    transition: 0.75s;
    cursor: pointer;
}

.product { 
    width: 250px;
    padding-top: 20px; 
}

.pro { 
    padding-right: 150px;
    display: inline;
}

.wrapper { 
    background: rgb(0, 0, 0, 0.5);
    padding: 25px;
    border-radius: 7px;
}